@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Roboto:wght@100;300&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap");
.header {
  background-color: #010409;
  padding-bottom: 1rem;
  height: 6.5rem;
  display: flex;
  color: white;
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;

.header_Left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  height: inherit;
  justify-content: space-between;
  flex: 0.25;
  .header_LeftUpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 1rem;
    > svg {
      cursor: pointer;
      font-size: 2rem;
      margin-right: 1rem;
    }
    > svg:nth-child(1) {
      border: 1px solid #6d6d6d;
      padding: 4px;
      border-radius: 6px;
      color: grey;
    }
    > svg:nth-child(2) {
      font-size: 2.3rem;
    }
  }

  .header_LeftLower {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 10px;
    width: 100%;
    justify-content: space-between;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      > svg {
        margin-right: 0.5rem;
        color: gray;
      }
      > p {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
span {
  margin-left: 8px;
  background-color: #1f1f1f;
  width: 2rem;
  text-align: center;
  border-radius: 25px;
  padding: 3px 0;
  font-size: 13px;
  height: 1.5rem;
}

.header_Right {
  flex: 0.75;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  > svg {
    position: relative;
    left: 2rem;
    font-size: 1.5rem;
    color: gray;
  }
  > input {
    width: 39%;
    height: 30%;
    padding: 1rem;
    margin-right: 10rem;
    border: 1px solid #6d6d6d;
    background: transparent;
    outline: none;
    color: #fff;
    border-radius: 5px;
    padding-left: 2rem;
  }
  > div {
    margin-right: 2rem;
    width: 2rem;
    object-fit: contain;
    > img {
      width: inherit;
      border-radius: 50%;
    }
  }
}

.inutBox {
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid #6d6d6d;
  > svg {
    color: gray;
  }
}
